.heading h1 {
  font-size: 100px;
  font-weight: bolder;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: .1em;
  text-decoration: underline;
  animation: headingLoad 2s;
}

.body {
  animation: pageLoad 1s;
}

@keyframes headingLoad {
  from {
    opacity: 0;
    font-size: 50px;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-field {
  animation: addFieldFade 4s
}

.stock-field {
  animation: stockFieldFade 8s
}

.add-btn {
  animation: addBtnFade 1s
}

.find-btn {
  animation: findBtnFade 1s
}

.order-btn {
  animation: orderBtnFade 2s
}

@keyframes findBtnFade {
  from {
    font-size: 0px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes orderBtnFade {
  from {
    font-size: 0px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes addBtnFade {
  from {
    font-size: 1px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes addFieldFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stockFieldFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.t-head th {
  text-align: center;
  padding: 5px 20px;
  font-size: 30px;
}

.t-data td {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
}

.fixed {
  position: fixed;
}

.table td {
  text-transform: capitalize;
  text-align: center;
}

.addBtn {
  outline: none;
}

.footer-links a {
  font-size: 40px;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: grey;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  display: block;
}

.rslides img {
  height: auto;
  width: 20%;
  border: 0;
}
