.t-head th {
  text-align: center;
  padding: 5px 20px;
  font-size: 30px;
}

.t-data td {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
}

.fixed {
  position: fixed;
}

.table td {
  text-transform: capitalize;
  text-align: center;
}

.addBtn {
  outline: none;
}

.footer-links a{
  font-size: 40px;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: grey;
}
